/**
 * @Author: 张威
 * @Date: 2018-05-29 12:00:57
 * @Last Modified by: 张威
 * @Last Modified time: 2018-05-29 12:00:57
 */
.clearfix:before,
.clearfix:after
  content: ''
  display: block
.clearfix:after
  clear: both

.text-overflow-ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
