/**
 * @Author: 张威
 * @Date: 2018-05-29 12:00:50
 * @Last Modified by: 张威
 * @Last Modified time: 2018-05-29 12:00:50
 */
.tick
  display: inline-block
  width: 18px
  height: 10px
  border: 4px solid #4A90E2
  border-top-width: 0
  border-right-width: 0
  transform: rotate(-45deg)
