$border-width = 10px
triangle()
  position: relative
  width: 0
  height: 0
  border-width: $border-width
  border-style: solid
.triangleTop
  triangle()
  top: -$border-width / 2
  border-color: transparent transparent #3c3c3c transparent
.triangleBottom
  triangle()
  top: $border-width / 2
  border-color: #3c3c3c transparent transparent transparent
.triangleRight
  triangle()
  left: $border-width / 2
  border-color: transparent transparent transparent #3c3c3c
.triangleLeft
  triangle()
  left: -$border-width / 2
  border-color: transparent #3c3c3c transparent transparent
