/**
 * @Author: 张威
 * @Date: 2018-05-29 12:00:37
 * @Last Modified by: 张威
 * @Last Modified time: 2018-06-02 16:44:01
 */
$triangle-half-border-width = 5px
$triangle-color = #3c3c3c
triangle()
  position: relative
  width: 0
  height: 0
  border-width: $triangle-half-border-width * 2
  border-style: solid
.triangleTop
  triangle()
  top: -($triangle-half-border-width)
  border-color: transparent transparent $triangle-color transparent
.triangleBottom
  triangle()
  top: $triangle-half-border-width
  border-color: $triangle-color transparent transparent transparent
.triangleRight
  triangle()
  left: $triangle-half-border-width
  border-color: transparent transparent transparent $triangle-color
.triangleLeft
  triangle()
  left: -($triangle-half-border-width)
  border-color: transparent $triangle-color transparent transparent
